<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philosophy.yd.yourphilosophy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A00_IntroMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A01_IntroSub" />
        <activity android:name=".A10_Category" />
        <activity android:name=".A11_ContentsList" />
        <activity android:name=".A12_ContentsAndFavoriteView" />
        <activity android:name=".A20_FavoriteList" />
    </application>

</manifest>